{
  "openapi": "3.1.0",
  "info": {
    "title": "Tuna Matbaa API",
    "description": "Tuna Matbaa'nın resmi API dokümantasyonu. Bu API, matbaa işlemlerinizi programatik olarak yönetmenizi sağlar.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://apitest.tunamatbaacilik.com.tr",
      "description": "Production API"
    }
  ],
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "xml": {
          "name": "Error"
        },
        "properties": {
          "code": {
            "type": "string",
            "xml": {
              "name": "Code"
            },
            "description": "Hata kodu"
          },
          "message": {
            "type": "string",
            "xml": {
              "name": "Message"
            },
            "description": "Hata mesajı"
          }
        }
      },
      "Paletler": {
        "type": "object",
        "xml": {
          "name": "Paletler",
          "namespace": "http://apitest.tunamatbaacilik.com.tr"
        },
        "properties": {
          "Palet": {
            "type": "array",
            "xml": {
              "name": "Palet",
              "wrapped": true
            },
            "items": {
              "type": "object",
              "properties": {
                "PaletQrId": {
                  "type": "string",
                  "xml": {
                    "name": "PaletQrId"
                  },
                  "description": "Palet QR ID"
                },
                "Box": {
                  "type": "array",
                  "xml": {
                    "name": "Box",
                    "wrapped": true
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "BoxQrId": {
                        "type": "string",
                        "xml": {
                          "name": "BoxQrId"
                        },
                        "description": "Kutu QR ID"
                      },
                      "Tarih": {
                        "type": "string",
                        "xml": {
                          "name": "Tarih"
                        },
                        "description": "Tarih"
                      },
                      "Barkod": {
                        "type": "string",
                        "xml": {
                          "name": "Barkod"
                        },
                        "description": "Barkod"
                      },
                      "ISBN": {
                        "type": "string",
                        "xml": {
                          "name": "ISBN"
                        },
                        "description": "ISBN"
                      },
                      "FirmaId": {
                        "type": "string",
                        "xml": {
                          "name": "FirmaId"
                        },
                        "description": "Firma ID"
                      },
                      "Kitaplar": {
                        "type": "object",
                        "xml": {
                          "name": "Kitaplar"
                        },
                        "properties": {
                          "KitapAdi": {
                            "type": "string",
                            "xml": {
                              "name": "KitapAdi"
                            },
                            "description": "Kitap Adı"
                          },
                          "Bandrols": {
                            "type": "object",
                            "xml": {
                              "name": "Bandrols"
                            },
                            "properties": {
                              "Bandrol": {
                                "type": "array",
                                "xml": {
                                  "name": "Bandrol",
                                  "wrapped": true
                                },
                                "items": {
                                  "type": "string"
                                },
                                "description": "Bandrol listesi"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "AuthError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Hata durumu (API_ERROR)",
            "example": "API_ERROR"
          },
          "message": {
            "type": "string",
            "description": "Hata mesajı",
            "example": "Kullanıcı adı ve parola belirtmelisiniz."
          }
        },
        "example": {
          "status": "API_ERROR",
          "message": "Kullanıcı adı ve parola belirtmelisiniz."
        }
      },
      "AuthValidationError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Hata durumu (API_ERROR)",
            "example": "API_ERROR"
          },
          "message": {
            "type": "string",
            "description": "Validasyon hatası mesajı",
            "example": "Kullanıcı adı ve parola belirtmelisiniz."
          }
        },
        "example": {
          "status": "API_ERROR",
          "message": "Kullanıcı adı ve parola belirtmelisiniz."
        }
      },
      "AuthUnauthorizedError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Hata durumu (API_ERROR)",
            "example": "API_ERROR"
          },
          "message": {
            "type": "string",
            "description": "Yetkilendirme hatası mesajı",
            "example": "Kullanıcı adı veya parola hatalı"
          }
        },
        "example": {
          "status": "API_ERROR",
          "message": "Kullanıcı adı veya parola hatalı"
        }
      },
      "AuthNotFoundError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Hata durumu (API_ERROR)",
            "example": "API_ERROR"
          },
          "message": {
            "type": "string",
            "description": "Bulunamadı hatası mesajı",
            "example": "Geçersiz istek"
          }
        },
        "example": {
          "status": "API_ERROR",
          "message": "Geçersiz istek"
        }
      },
      "AuthOkey": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Başarılı durum (API_OK)",
            "example": "API_OK"
          },
          "token": {
            "type": "string",
            "description": "JWT token",
            "example": "f5c46f793e07c46fd49884b107e9bb2462fcaeabebc63a4e7923c9edb059e673"
          }
        },
        "example": {
          "status": "API_OK",
          "token": "f5c46f793e07c46fd49884b107e9bb2462fcaeabebc63a4e7923c9edb059e673"
        }
      },
      "LoginResponse": {
        "type": "object",
        "properties": {
          "token": {
            "type": "string",
            "description": "JWT token"
          }
        }
      },
      "Box": {
        "type": "object",
        "xml": {
          "name": "Box",
          "namespace": "http://apitest.tunamatbaacilik.com.tr"
        },
        "properties": {
          "BoxQrId": {
            "type": "string",
            "xml": {
              "name": "BoxQrId"
            },
            "description": "Kutu QR ID"
          },
          "Tarih": {
            "type": "string",
            "xml": {
              "name": "Tarih"
            },
            "description": "Tarih"
          },
          "Barkod": {
            "type": "string",
            "xml": {
              "name": "Barkod"
            },
            "description": "Barkod"
          },
          "ISBN": {
            "type": "string",
            "xml": {
              "name": "ISBN"
            },
            "description": "ISBN"
          },
          "FirmaId": {
            "type": "string",
            "xml": {
              "name": "FirmaId"
            },
            "description": "Firma ID"
          },
          "Kitaplar": {
            "type": "object",
            "xml": {
              "name": "Kitaplar"
            },
            "properties": {
              "KitapAdi": {
                "type": "string",
                "xml": {
                  "name": "KitapAdi"
                },
                "description": "Kitap Adı"
              },
              "Bandrols": {
                "type": "object",
                "xml": {
                  "name": "Bandrols"
                },
                "properties": {
                  "Bandrol": {
                    "type": "array",
                    "xml": {
                      "name": "Bandrol",
                      "wrapped": true
                    },
                    "items": {
                      "type": "string"
                    },
                    "description": "Bandrol listesi"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/palet": {
      "get": {
        "summary": "Palet Detayı",
        "description": "Belirtilen ID'ye sahip paletin detaylarını döndürür.",
        "operationId": "getPalet",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Palet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API Anahtarı (JWT Token)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Paletler"
                },
                "example": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Paletler xmlns=\"http://tunamatbaacilik.com.tr/api\"><Palet><PaletQrId>123456789</PaletQrId><Box><BoxQrId>987654321</BoxQrId><Tarih>01.01.2024</Tarih><Barkod>9780000000000</Barkod><ISBN>978-0000-000000</ISBN><FirmaId>1234</FirmaId><Kitaplar><KitapAdi>ÖRNEK KİTAP ADI</KitapAdi><Bandrols><Bandrol>0000001XXX</Bandrol><Bandrol>0000002XXX</Bandrol><Bandrol>0000003XXX</Bandrol><Bandrol>0000004XXX</Bandrol><Bandrol>0000005XXX</Bandrol></Bandrols></Kitaplar></Box><Box><BoxQrId>987654322</BoxQrId><Tarih>01.01.2024</Tarih><Barkod>9780000000000</Barkod><ISBN>978-0000-000000</ISBN><FirmaId>1234</FirmaId><Kitaplar><KitapAdi>ÖRNEK KİTAP ADI</KitapAdi><Bandrols><Bandrol>0000006XXX</Bandrol><Bandrol>0000007XXX</Bandrol><Bandrol>0000008XXX</Bandrol><Bandrol>0000009XXX</Bandrol><Bandrol>0000010XXX</Bandrol></Bandrols></Kitaplar></Box></Palet></Paletler>"
              }
            }
          },
          "400": {
            "description": "Geçersiz istek",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Geçersiz API anahtarı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Palet bulunamadı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "get": {
        "summary": "Authentication",
        "description": "Login olarak 60 dakika geçerli token alabilirsiniz.\n\nTest için kullanabileceğiniz kullanıcı bilgileri:\n- Kullanıcı Adı: sunucupark\n- Şifre: sunucupark",
        "operationId": "getApiKey",
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Firma Kullanıcı Adı",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "password",
            "in": "query",
            "required": true,
            "description": "Şifreniz",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthOkey"
                },
                "example": "API_OK^f5c46f793e07c46fd49884b107e9bb2462fcaeabebc63a4e7923c9edb059e673"
              }
            }
          },
          "400": {
            "description": "Kullanıcı adı ve parola belirtmelisiniz.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthValidationError"
                },
                "example": "API_ERROR^Kullanıcı adı ve parola belirtmelisiniz."
              }
            }
          },
          "401": {
            "description": "Kullanıcı adı veya parola hatalı",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthUnauthorizedError"
                },
                "example": "API_ERROR^Kullanıcı adı veya parola hatalı"
              }
            }
          },
          "404": {
            "description": "Geçersiz istek",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AuthNotFoundError"
                },
                "example": "API_ERROR^Geçersiz istek"
              }
            }
          }
        }
      }
    },
    "/box": {
      "get": {
        "summary": "Kutu Detayı",
        "description": "Belirtilen ID'ye sahip kutunun detaylarını döndürür.",
        "operationId": "getBox",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Kutu ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API Anahtarı (JWT Token)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Box"
                },
                "example": "<?xml version=\"1.0\" encoding=\"UTF-8\"?><Box xmlns=\"http://tunamatbaacilik.com.tr/api\"><BoxQrId>987654321</BoxQrId><Tarih>01.01.2024</Tarih><Barkod>9780000000000</Barkod><ISBN>978-0000-000000</ISBN><FirmaId>1234</FirmaId><Kitaplar><KitapAdi>ÖRNEK KİTAP ADI</KitapAdi><Bandrols><Bandrol>0000001XXX</Bandrol><Bandrol>0000002XXX</Bandrol><Bandrol>0000003XXX</Bandrol><Bandrol>0000004XXX</Bandrol><Bandrol>0000005XXX</Bandrol></Bandrols></Kitaplar></Box>"
              }
            }
          },
          "400": {
            "description": "Geçersiz istek",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Geçersiz API anahtarı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Kutu bulunamadı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}