{
  "openapi": "3.1.0",
  "info": {
    "title": "Tuna Matbaa API",
    "description": "Tuna Matbaa'nın resmi API dokümantasyonu. Bu API, matbaa işlemlerinizi programatik olarak yönetmenizi sağlar.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tunamatbaacilik.com.tr",
      "description": "Production API"
    }
  ],
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Hata kodu"
          },
          "message": {
            "type": "string",
            "description": "Hata mesajı"
          }
        }
      },
      "PaletResponse": {
        "type": "object",
        "xml": {
          "name": "palet"
        },
        "properties": {
          "id": {
            "type": "string",
            "xml": {
              "attribute": true
            },
            "description": "Palet ID"
          },
          "name": {
            "type": "string",
            "xml": {
              "name": "name"
            },
            "description": "Palet adı"
          },
          "description": {
            "type": "string",
            "xml": {
              "name": "description"
            },
            "description": "Palet açıklaması"
          }
        }
      }
    }
  },
  "paths": {
    "/palet": {
      "get": {
        "summary": "Palet Detayı",
        "description": "Belirtilen ID'ye sahip paletin detaylarını döndürür.",
        "operationId": "getPalet",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Palet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API Anahtarı (JWT Token)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/PaletResponse"
                },
                "example": {
                  "palet": {
                    "@id": "100000020",
                    "name": "Örnek Palet",
                    "description": "Örnek palet açıklaması"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Geçersiz API anahtarı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Palet bulunamadı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}