{
  "openapi": "3.1.0",
  "info": {
    "title": "Tuna Matbaa API",
    "description": "Tuna Matbaa'nın resmi API dokümantasyonu. Bu API, matbaa işlemlerinizi programatik olarak yönetmenizi sağlar.",
    "license": {
      "name": "Proprietary"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.tunamatbaacilik.com.tr",
      "description": "Production API"
    }
  ],
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Hata kodu"
          },
          "message": {
            "type": "string",
            "description": "Hata mesajı"
          }
        }
      },
      "Paletler": {
        "type": "object",
        "xml": {
          "name": "Paletler"
        },
        "properties": {
          "Palet": {
            "type": "array",
            "xml": {
              "name": "Palet"
            },
            "items": {
              "type": "object",
              "properties": {
                "PaletQrId": {
                  "type": "string",
                  "xml": {
                    "name": "PaletQrId"
                  },
                  "description": "Palet QR ID"
                },
                "Box": {
                  "type": "array",
                  "xml": {
                    "name": "Box"
                  },
                  "items": {
                    "type": "object",
                    "properties": {
                      "BoxQrId": {
                        "type": "string",
                        "xml": {
                          "name": "BoxQrId"
                        },
                        "description": "Kutu QR ID"
                      },
                      "Tarih": {
                        "type": "string",
                        "xml": {
                          "name": "Tarih"
                        },
                        "description": "Tarih"
                      },
                      "Barkod": {
                        "type": "string",
                        "xml": {
                          "name": "Barkod"
                        },
                        "description": "Barkod"
                      },
                      "ISBN": {
                        "type": "string",
                        "xml": {
                          "name": "ISBN"
                        },
                        "description": "ISBN"
                      },
                      "FirmaId": {
                        "type": "string",
                        "xml": {
                          "name": "FirmaId"
                        },
                        "description": "Firma ID"
                      },
                      "Kitaplar": {
                        "type": "object",
                        "xml": {
                          "name": "Kitaplar"
                        },
                        "properties": {
                          "KitapAdi": {
                            "type": "string",
                            "xml": {
                              "name": "KitapAdi"
                            },
                            "description": "Kitap Adı"
                          },
                          "Bandrols": {
                            "type": "object",
                            "xml": {
                              "name": "Bandrols"
                            },
                            "properties": {
                              "Bandrol": {
                                "type": "array",
                                "xml": {
                                  "name": "Bandrol",
                                  "wrapped": true
                                },
                                "items": {
                                  "type": "string"
                                },
                                "description": "Bandrol listesi"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/palet": {
      "get": {
        "summary": "Palet Detayı",
        "description": "Belirtilen ID'ye sahip paletin detaylarını döndürür.",
        "operationId": "getPalet",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Palet ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apikey",
            "in": "query",
            "required": true,
            "description": "API Anahtarı (JWT Token)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Başarılı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Paletler"
                },
                "examples": {
                  "xml-response": {
                    "summary": "Örnek XML Yanıtı",
                    "description": "Palet detaylarını içeren XML yanıtı",
                    "value": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Paletler>\n  <Palet>\n    <PaletQrId>100000020</PaletQrId>\n    <Box>\n      <BoxQrId>1000002118</BoxQrId>\n      <Tarih>17.05.2025</Tarih>\n      <Barkod>9786056952708</Barkod>\n      <ISBN>978-6056-952708</ISBN>\n      <FirmaId>7289</FirmaId>\n      <Kitaplar>\n        <KitapAdi>MOZAİK 8. SINIF FEN BİLİMLERİ SORU BANKASI</KitapAdi>\n        <Bandrols>\n          <Bandrol>0211441YNS</Bandrol>\n          <Bandrol>0211442YNS</Bandrol>\n          <Bandrol>0211460YNS</Bandrol>\n        </Bandrols>\n      </Kitaplar>\n    </Box>\n  </Palet>\n</Paletler>"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Geçersiz istek",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Geçersiz API anahtarı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Palet bulunamadı",
            "content": {
              "application/xml": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  }
}